<h1>Login</h1>
<div class="list">
	<div class="item">
		<label class="item item-input">
			<span class="input-label">email: </span>
			<input type="text">
		</label>
	</div>

	<div class="item">
		<label class="item item-input">
			<span class="input-label">password: </span>
			<input type="text">
		</label>
	</div>
</div>
<div class="buttons">
    <button class="button">Login</button>
</div>
<div class="buttons">
    <button class="button">Forgot Password</button>
</div>
<p>Forgot password? Enter your email and click on the "Forgot Password" button above</p>